<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
</head>

<body>
    <header>
        {% if session.logged_in %}
        <button id="openPanel"><i class="fas fa-user"> &nbsp; </i>{{ session.uname }}</button>
        {% endif %}
        <div class="sliding-panel">
            <div class="panel-content">
                <h1>User Details</h1>
                <div class="form-container">
                    <h2>Edit Details</h2>
                    <form  method="POST">
                        <input type="hidden" name="user_id" value="hello">
                        <div class="input-group">
                            <label for="uname">Name:</label>
                            <input type="text" name="uname" value="{{ user[0] if user else '' }}" required>
                            <button class="edit-button" type="button" onclick="editField('uname')">Edit</button>
                        </div><br><br>
                        <div class="input-group">
                            <label for="email">Email:</label>
                            <input type="email" name="email" value="{{ user[1] if user else '' }}" required>
                            <button class="edit-button" type="button" onclick="editField('email')">Edit</button>
                        </div><br><br>
                        <div class="input-group">
                            <label for="phno">Phone Number:</label>
                            <input type="number" name="phno" value="{{ user[2] if user else '' }}" required>
                            <button class="edit-button" type="button" onclick="editField('phno')">Edit</button>
                        </div><br><br>
                        <div class="input-group">
                            <label for="Pass">Password:</label>
                            <input type="password" name="Pass" value="{{ user[3] if user else '' }}" required><br>
                            <button class="edit-button" type="button" onclick="editField('Pass')">Edit</button>
                        </div><br><br>
                        <div class="div" >
                            <input type="submit" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <h1>POLIO VACCINATION SYSTEM</h1>
    </header>
    <nav>
        
        <ul>
            <!-- <li id="btn"><a href="javascript:void(0);" onclick="history.back();">Go Back</a></li> -->
            {% if session.logged_in %}
                <li id="logoutbtn"><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            {% endif %}
            <li><a href="{{ url_for('index') }}"><i class="fas fa-home"></i> Home</a></li>
            {% if not session.logged_in %}
                <li><a href="{{ url_for('login') }}"><i class="fas fa-user-circle"></i> LogIn/SignUp</a></li>
            {% endif %}
            {% if 'logged_in' in session and session['logged_in'] %}
                <li><a href="{{ url_for('book') }}"><i class="fas fa-calendar-plus"></i> Book Vaccine</a></li>
            {% endif %}
            <li><a href="{{ url_for('vac_detail') }}"><i class="fas fa-syringe"></i> Vaccine Details</a></li>
            {% if 'logged_in' in session and session['logged_in'] %}
                <li><a href="{{ url_for('child_detail') }}"><i class="fas fa-child"></i> Child Details</a></li>
            {% endif %}
            <li><a href="{{ url_for('vac_drive') }}"><i class="fas fa-car"></i> Vaccine drive</a></li>
            <li><a href="{{ url_for('other_vaccine') }}"><i class="fas fa-vial"></i> Other Vaccine</a></li>
            <li><a href="{{ url_for('about') }}"><i class="fas fa-info-circle"></i> About Us</a></li>
        </ul>
        
    </nav>
    <div id="boxhead">
        <h1>YOUR CHILD DETAILS</h1>
    </div>
    <div id="bodycontainer" style="justify-content: center;
    margin-top: 1pc;">
        <div>
            <img src="{{ url_for('static', filename='dose1pic.png') }}" alt="Image Loading" width="90%">
        </div>
        <div style="color: #035c4f; margin: 3pc;">
            <h1>What vaccines will my baby get?</h1>
            <ul style="color: black;">
                <h5><i>At 1 to 2 months, your baby should receive vaccines to protect them from the following diseases:</i></h5>
                <li>Hepatitis B (HepB) (2nd dose)</li>
                <li> Diphtheria, tetanus, and whooping cough (pertussis) (DTaP) (1st dose)</li>
                <li>Haemophilus influenzae type b disease (Hib) (1st dose)</li>
                <li>Polio (IPV) (1st dose)</li>
                <li>Pneumococcal disease (PCV) (1st dose)</li>
                <li>Rotavirus (RV) (1st dose)</li>
            </ul><br><br>

            <h1>After vaccinations</h1>
            <ul style="font-size: larger; color: black;">
                <h5><i>Sometimes children have mild reactions from vaccines, such as pain at the injection site or a rash.
                    These reactions are normal and will soon go away.</i></h5>
                <li>Read the Vaccine Information Sheet(s) your baby’s doctor gave you to learn about side effects your
                    baby may experience.</li>
                <li>Swaddle.</li>
                <li>Offer breastmilk or formula more often. It is normal for some babies to eat less during the 24 hours
                    after getting vaccines.</li>
                <li>Pay extra attention to your baby for a few days. If you see something that concerns you, call your
                    baby’s doctor.</li>
            </ul>
        </div>
    </div>
</body>
<script>
    document.getElementById("openPanel").addEventListener("click", function () {
        document.querySelector(".sliding-panel").style.right = "0";
    });

    document.addEventListener("click", function (e) {
        if (!document.querySelector(".sliding-panel").contains(e.target) && e.target !== document.getElementById("openPanel")) {
            document.querySelector(".sliding-panel").style.right = "-50%";
        }
    });
</script>
</html>