<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>LogIn</title>
</head>

<body>
    <header>
        <h1>POLIO VACCINATION SYSTEM</h1>
    </header>
    <nav>
        <ul>
            <!-- Only display the logout link when the user is logged in -->
            <!-- <li id="btn"><a href="javascript:void(0);" onclick="history.back();">Go Back</a></li> -->
            {% if session.logged_in %}
            <li id="logoutbtn"><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            {% endif %}
            <li><a href="{{ url_for('index') }}"><i class="fas fa-home"></i> Home</a></li>
            {% if 'logged_in' in session and session['logged_in'] %}
            <li><a href="{{ url_for('book') }}"><i class="fas fa-calendar-plus"></i> Book Vaccine</a></li>
            {% endif %}
            <li><a href="{{ url_for('vac_detail') }}"><i class="fas fa-syringe"></i> Vaccine Details</a></li>
            {% if 'logged_in' in session and session['logged_in'] %}
            <li><a href="{{ url_for('child_detail') }}"><i class="fas fa-child"></i> Child Details</a></li>
            {% endif %}
            <li><a href="{{ url_for('vac_drive') }}"><i class="fas fa-car"></i> Vaccine drive</a></li>
            <li><a href="{{ url_for('other_vaccine') }}"><i class="fas fa-vial"></i> Other Vaccine</a></li>
            <li><a href="{{ url_for('about') }}"><i class="fas fa-info-circle"></i> About Us</a></li>
        </ul>
    </nav>
    <div id="boxhead">
        <h1 style="margin-left: 43pc;">LOG-IN</h1>
    </div>
    <div id="box">

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <div id="box1">
            <h4>WELCOME!!!</h4><br><br><br>
            <p>- Welcome To Login Page </p>
            <p>Login to access your account</p>
        </div>

        <div id="box2">
            <form action="login" method="post">
                <div class="form" id="subhead">
                    <h3> LOG-IN </h3>
                </div>
                <div class="form">
                    <i class="fas fa-user"></i>
                    <input required type="text" name="uname" id="uname" placeholder="Enter User-Name">
                </div>

                <div class="form">
                    <i class="fas fa-eye"></i>
                    <input required type="password" name="Pass" id="Pass" placeholder="Enter Password">
                </div>

                <div id="submit" class="form">
                    <input type="submit" value="LOG-IN"><br>
                </div>
                <div id="nextpage">
                    <p>Don't Have An Account,<br>Click Here</p><br>
                    <a href="{{ url_for('register') }}" id="two">Sign-Up</a><br><br>
                </div>
                <div id="nextpage1">
                    <p>Forgotten Your Password,<br>Click Here</p>
                    <a href="{{ url_for('forgot') }}" id="one" style="margin-right: 12px;">Forgot Password</a>
                </div>
                <div id="nextpage1">
                    <p>Only For administer</p>
                    <a href="{{ url_for('adminlogin') }}">Admin Login</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>